/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
  @import "bootstrap";

.category-box{
    width: 33%;
    float: left;
}
.main{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    background: #dedede;
}
.main-left{
    float: left;
    width: 33.2%;
}
.main-right{
    float: left;
    width: 66.6%;
}
.category-post{
    padding: 10px;
    margin-bottom: 10px;
    background: #e9d5d5;
}
.post-date{
    color: #999;
}